<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>



<div id="container">
    <div class="container">
        <div class="d-flex">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3 th:text="#{locale.navigation.catalog}"></h3>
                </div>

                <form action="/menu/search" method="get">
<!--                <form th:action="@{/menu/price/{path} (path = ${search})}" method="get">-->

                <div class="text-center">
                    <button
                            th:text="#{locale.hint.search}"
                            type="submit" class="btn btn-primary ml-auto d-inline-block bg-success" style="width: 80px;"></button>
                    <a
                            th:text="#{locale.action.update}"
                            href="/menu" class="btn btn-secondary ml-2 d-inline-block" role="button" style="width: 100px;"></a>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a
                                th:text="#{locale.tea.price}"
                                href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
                        <ul class="collapse list-unstyled" id="homeSubmenu1" >
                            <li>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input type="text" name="startingPrice" class="form-control"  id="value" th:value="${minTeaPrice}"/>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="endingPrice" class="form-control" th:value="${maxTeaPrice}" />
                                    </div>
                                </div>
                                <input type="range" th:min="${minTeaPrice}" th:max="${maxTeaePrice}" th:value="${minTeaPrice}"
                                       class="custom-range" oninput="updateTextInput(this.value);">
                                <script>
                                    function updateTextInput(val) {
                                        document.getElementById('value').value=val;
                                    }
                                </script>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a
                                th:text="#{locale.tea.brand}"
                                href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
                        <ul class="collapse list-unstyled" id="homeSubmenu2">
                            <li th:each="brand : ${brands}">
                                <div class="checkbox ml-3">
                                    <label th:text="${brand}">
                                        <input type="checkbox" th:name="${'brands'}" th:value="${brand}">
                                        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                </form>
            </nav>

            <div class="row mt-5 ml-5">
                <div th:insert="~{parts/common :: pagination}"></div>
                    <div class="container-fluid mt-5">
                        <div class="row" th:fragment="list">
                            <div class="col-lg-3 d-flex align-items-stretch" th:each="tea : ${page.getContent()}">
                                <div class="card mb-5" th:if="${tea.getFilename()}">
                                    <!--<img th:src="${tea.getFilename()}" class="rounded mx-auto w-50">-->
                                    <img th:src="@{/static/images/{path} (path = ${tea.getFilename()})}"
                                         class="rounded mx-auto w-50" width="160">
                                    <div class="card-body text-center">
                                        <h5 th:text="${tea.getTeaTitle()}"></h5>
                                        <h6 th:text="${tea.getBrand()}"></h6>
                                        <h6><span th:text="${tea.getPrice()}"></span></h6>
                                    </div>
                                    <div class="text-center align-items-end mb-3">
                                        <a
                                                th:text="#{locale.action.buy}"
                                                th:href="@{/tea/{path} (path = ${tea.getId()})}" class="btn btn-dark"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>