<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div id="container">
    <div class="container mt-5 pb-5">
        <div class="row">

            <div class="col-md-5">
                <div>
                    <img th:src="${tea.getFilename()}" class="rounded mx-auto w-100">
                </div>
            </div>

            <div class="col-md-7">
                <h2 th:text="${tea.getTeaTitle()}"></h2>
                <h3 th:text="${tea.getBrand()}"></h3>
                <p th:text="#{locale.tea.code}">
                    <span th:text="${tea.getId()}"></span></p>
                <p
                        th:text="#{locale.tea.availability}"
                        style="color: #54C0A1">

                </p>

                <div class="row ml-1">
                    <h6 class="mr-5"><span th:text="${tea.getPrice()}"></span></h6>
<!--                    <label class="px-3">Количество:</label>-->

                    <form action="/cart/add" method="post">
<!--                        <input type="text" name="amount" placeholder="1">-->
                        <button
                                th:text="#{locale.action.addtocart}"
                                type="submit" name="add" class="btn btn-dark mx-3"
                                th:value="${tea.getId()}"></button>
                    </form>
<!--                    <input type="text" value="1">-->
<!--                    <button type="submit" class="btn btn-dark mx-3">В корзину</button>-->
                </div>
                <br>
                <table class="table">
                    <tbody>
                        <tr><td th:text="#{locale.tea.title}" ></td><td th:text="${tea.getTeaeTitle()}"></td></tr>
                        <tr><td th:text="#{locale.tea.brand}"></td><td th:text="${tea.getBrand()}"></td></tr>
                        <tr><td th:text="#{locale.tea.type}"></td><td th:text="${tea.getType()}"></td></tr>
                        <tr><td th:text="#{locale.tea.volume}"></td><td><span th:text="${tea.getVolume()}"></span> мл.</td></tr>
                        <tr><td th:text="#{locale.tea.country}"></td><td th:text="${tea.getCountry()}"></td></tr>
                        <tr><td th:text="#{locale.tea.taste}"></td><td th:text="${tea.getFragranceBaseNotes()}"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>
</body>
</html>